{% extends layout %}

{% block body_class %}impress-not-supported{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/easyimpress/css/main.css') }}" rel="stylesheet">
    <link href="{{ asset('css/override.css') }}" rel="stylesheet">
    <style type="text/css">
        /*.step.future, .step.past { opacity: 0.1; }*/
    </style>
{% endblock %}

{% block easy_impress_presentation %}

    {% spaceless %}

    <div id="impress" >

        {%- for i in 0..slides -%}
            {% include "impress/slides/" ~ i ~ ".html.twig" %}
        {%- endfor -%}
    </div><!-- /#impress -->

    <div class="site-wrapper" id="wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div id="content">
                    {%- block content -%}
                        {%- if slides > 1 -%}
                            <div id="arrow_clickable">
                                <div id="left_arrow_clickable"></div>
                                <div id="right_arrow_clickable"></div>
                            </div>
                            <div id="arrow_container">
                                <div id="left_arrow"><span class="glyphicon glyphicon-chevron-left"></span></div>
                                <div id="right_arrow"><span class="glyphicon glyphicon-chevron-right"></span></div>
                            </div>
                        {%- endif -%}
                    {%- endblock -%}
                </div>

                <footer class="mastfoot" id="footer">
                    <p>
                    </p>
                </footer>

            </div>
        </div>
    </div>

    {%- endspaceless -%}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/easyimpress/js/impress.js') }}"></script>
    <script src="{{ asset('bundles/easyimpress/js/main_impress.js') }}" type="text/javascript"></script>
{% endblock %}
